body {
    background-color :  silver grey;
}

b {
background :black;
text-decoration: underline;
padding: 2px;
position: sticky;
color :white
}

h1 {
    text-align: center;
    text-decoration: underline;
}

input {
    border: 3px solid silver;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 4px;
}

fieldset {
    text-align: center;
}